* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
:root {
    --brand: #003858;
    --dark: #303030;
    --lite: #e4e4e4;
    --logo: #abd3ea;
    --level-1: #00c2ff;
    --level-2: #04ce25;
    --level-3: #ecd71b;
    --level-4: #ff8718;
    --level-5: #df0d0d;
    --level-6: #de0be2;
    scroll-behavior: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {font-size: 6rem; font-weight: 900;}
h2 {font-size: 5rem !important; font-weight: 900 !important;}
h3 {font-size: 5rem; font-weight: 900;}
h4 {font-size: 2.5rem !important; font-weight: 900 !important;}
h5 {font-size: 1.5rem !important; font-weight: 900 !important;}

.level-1 {background-color: var(--level-1);}
.level-2 {background-color: var(--level-2);}
.level-3 {background-color: var(--level-3);}
.level-4 {background-color: var(--level-4);}
.level-5 {background-color: var(--level-5);}

.badge-pill {border-radius: 100px !important;}

.road-badge {background-color: var(--level-5);}
.supported-badge {background-color: var(--level-4);}
.unsupported-badge {background-color: var(--level-2);}
.luxurious-badge {background-color: var(--level-6);}


.btn-brand {
    background-color: var(--brand);
    color: var(--lite);
    border: 5px var(--lite) solid;
    border-radius: 30px;
    font-weight: 700;
    padding: 6px 18px 8px 18px;
}

.btn-learn {
    width: 60%;
    background-color: var(--lite);
    color: var(--brand);
    border: 5px var(--brand) solid;
    font-weight: 700;
    padding: 6px 18px 8px 18px;  
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

/***************** NAVBAR *****************/

nav,
.navbar{
    z-index: 9;
}

.nav-item {
    font-size: 1rem;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28171, 211, 234, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler:hover {
    border: 1px solid var(--logo) !important;
    text-decoration: none !important;
}

.navbar .navbar-toggler:focus {
    box-shadow: 0 0 0 var(--brand) !important;
}

.navbar .navbar-toggler:not(:focus) {
    color: var(--brand) !important;
    text-decoration: none !important;
}

.form-control {
    color: var(--dark) !important;
}

.form-control:focus {
    border-color: var(--logo) !important;
    box-shadow: inset 0 1px 1px var(--logo), 0 0 8px var(--logo) !important;
  }

.btn-brand:hover {
    background-color: var(--logo);
    color: var(--brand);
}

.btn-brand:active {
    background-color: var(--lite);
    color: var(--brand);
}

.link {
    font-weight: 500;
    text-decoration: none;
    color: var(--lite)
}

.link:hover {
    color: var(--logo);
}

.link > .active {
    font-weight: 700;
    color: var(--logo);
}

.navbar {
    background-color: var(--brand);
    box-shadow: 0 0 8px var(--brand);
}

.navbar-nav {
    width: 40%;
}

.nav-link {
    color: var(--lite);
}

/************** HERO **************/

.hero {
    --bs-gutter-x: 0 !important;
}

.carousel-inner {

}

.carousel-control {
    margin-top: 20px;
}

.carousel-description {
    color: var(--lite);
    text-shadow: 2px 2px 4px var(--dark);
    align-items: flex-start;
    height: 90%;
    justify-content: center;
    padding-right: 25% !important;
}

.carousel-item {
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-image-1 {
    background: url(./img/Hero-Image-1.png) no-repeat center;
    background-size: cover; 
}
.hero-image-2 {
    background: url(./img/Hero-Image-2.png) no-repeat center;
    background-size: cover; 
}
.hero-image-3 {
    background: url(./img/Hero-Image-3.png) no-repeat center;
    background-size: cover; 
}
.hero-image-4 {
    background: url(./img/Hero-Image-4.png) no-repeat center;
    background-size: cover; 
}

.hero-padding {
    padding: 2px 40px 4px 40px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    filter: invert(0) !important;
    width: 4rem !important;
    height: 4rem !important;
}

/********* CHOOSE TOUR ***********/

.section-2 {
    background-color: var(--brand);
    color: var(--lite);
    width: 100%;
}

.form-container {
    width: 100%;
}

label {
    color: var(--brand);
    font-weight: 700;
}

/* TOURING SECTION */

.section-3 {
    background-color: var(--lite);
    color: var(--brand);
}

.touring-img {
    height: 485px;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
}

.touring-img img {
    transform: scale(1.1);
    transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
    transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.touring-img img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.touring-img img {
    width: 100%;
    height: 485px;
    object-fit: cover;
}

/* TOURING STYLE */

.section-4 {
    background-image: url(./img/tbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--lite);
}

.style-types img {
    border: 5px solid var(--lite);
    border-radius: 100px;
}

/* GROUP TOUR LIST SECTION */

.section-5 {
    background: url(./img/popbg.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-5 h4 {
    color: var(--brand);
}

.group-tours {
    overflow: auto;
    color: var(--lite);
}

.view-all {
    color: var(--brand);
    text-decoration: none;
    font-weight: 500;
}

.view-all:hover {
    color: var(--brand);
    text-decoration: underline;
}

/* TOURING CARD */

.single-tour { 
    position: relative;
    color: var(--lite);
    background-color: var(--brand);
    height: auto;
    width: 440px;
    padding: 10px;
    background-color: var(--brand);
    border-radius: 5px;
    transition: .4s;
}

.single-tour:hover {
    transition: .4s;
    transform: scale(95%);
    cursor: pointer;
}

.single-c1 h3 {
    position: absolute;
    bottom: 76px;
    left: 18px;
    font-weight: 900;
}

.second-row {
    margin: 4px;
    font-size: 14px;
}

.lorem {
    padding: 0px;
    width: 260px;
    min-height: auto;
    margin-bottom: 0;
}

.second-row p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 0;
}

.length {
    width: 40px;
    height: auto;
}

.difficulty {
    line-height: 16px;
}

.difficulty p {
    margin-bottom: 0;
}

.third-row {
    display: flex !important;
    align-items: baseline;
    bottom: 0;
}

.price {
    font-weight: 700;
}

/* RENTAL SECTION */

.section-6 {
    background-color: var(--brand);
    color: var(--lite);
}

.rental-container p {
    font-size: 14px;
}

.section-7 {
    background-color: gray;
}

.footer {
    background-color: brown;
}